<a href="https://colab.research.google.com/github/nosher150/Module7-notebook/blob/main/Introducing_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas

Python is a jack of all trades language that allows you to build functions that can do almost anything you want. But how what benefits does it have for our work as data analysts?<br> <br>It turns out, quite alot!<br><br> You can perform any of the data cleaning, analysis or visualisation techniques you have learned already in a way that is much more efficient and fine tuned to what you need. This is where pandas come in. <br><br> Pandas is an open source library that is used to mainly for data analysis. It allows us to import and view data, as well as perform a wide range of explorative or analytical techniques. Ontop of this, pandas will be used as the base building block of everything we do in subsequent modules. <br><br> In this workbook we will show you how to import data with pandas and how to perform some basic data cleaning.

In [26]:
# Importing pandas is the same as any other library. 
# Notice that the alias pd is used, this is an industry standard and something you should get in the habit of doing

import pandas as pd

Before we go further we need to define a couple of terms within pandas<br><br>

## Series

Technically, a series is a one dimensional array holding data of any type. Simply, if you imagine a pandas object as a table, then a series is a column.

In [27]:
a=['Jess','Garfield','Snowball II']

my_series=pd.Series(a)

print(my_series)

0           Jess
1       Garfield
2    Snowball II
dtype: object

Like a list, a series is 0-indexed so if we wanted to retrieve any element of a series we just need to call the relevant index

In [28]:
print(my_series[1])

Garfield

Unlike a list, we can actually name the indices within a series

In [29]:
my_series=pd.Series(a,index=['Postman Pat','Jon Arbuckle','Homer Simpson'])
print(my_series)

Postman Pat             Jess
Jon Arbuckle        Garfield
Homer Simpson    Snowball II
dtype: object

In [30]:
print(my_series['Postman Pat'])

Jess

## Dataframe

If a series is a column, then a dataframe is the table itself. These are two-dimensional arrays, which consist of at least one series. For many people it is easier to think of dataframes as tables with columns and rows. <br><br>

There are several ways we can build a dataframe manually, one of the simplest is to use a dictionary.

In [31]:
data={'Owner':['Postman Pat','Jon Arbuckle','Homer Simpson'],'Pet':['Jess','Garfield','Snowball II']}

df=pd.DataFrame(data)

df

           Owner          Pet
0    Postman Pat         Jess
1   Jon Arbuckle     Garfield
2  Homer Simpson  Snowball II

Notice that the keys from the dictionary are now the column names, we will come back to this later to show you how you can change column names. <br><br>

Most of the time though, we aren't going to be building dataframes manually. Normally we will have want to load the dataset in. Pandas has inbuilt functions for several types of file, which you can read about in their <a href='https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html'>documentation</a>. The one we will be using in this course is how to read in a CSV file.

In [32]:
# The dataset we will be using in this workbook contains records of over 80000 UFO sightings
df=pd.read_csv('ufo_sighting_data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Note that within a series, all data types must be the same. If this isn't consistent (as in this case), pandas will automatically force them to be the same. In this case it will set the conflicting column to an object (string).

If you would like to read about importing Excel files, you can read the documentation <a href='https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html'>here</a>.

# Inspecting the Data

Now we know how to load our data into pandas, it is time to look at the various functions pandas has for inspecting the data. <br><br>

As before, whenever you receive data you should inspect it to understand what it contains, what you can do with it and how it might need to be cleaned. In this section we will show you some basic pandas functions for inspecting our data.

In [33]:
# .head() allows us to view the first 5 rows of a dataframe, this can be extended to a maximum of 20

df.head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [34]:
# .tail() does the same thing, but for the last 5 rows
# Both functions are useful for getting a quick look at the data to see what is contained

df.tail()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
80327,9/9/2013 21:15,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.165833,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778

In [35]:
# To understand how big our dataframe is, we can use .shape to return the number of rows and columns

df.shape

(80332, 11)

In [36]:
# For a quick view of what data types are present, use .dtypes

df.dtypes

Date_time                           object
city                                object
state/province                      object
country                             object
UFO_shape                           object
length_of_encounter_seconds         object
described_duration_of_encounter     object
description                         object
date_documented                     object
latitude                            object
longitude                          float64
dtype: object

In [37]:
# For a quick summary of what is happening in each series (column) you can use .describe()
# By default this will only display series where the datatype is numeric (float or integer)

df.describe()

          longitude
count  80332.000000
mean     -86.772885
std       39.697205
min     -176.658056
25%     -112.073333
50%      -87.903611
75%      -78.755000
max      178.441900

In [38]:
# To look at series with non-numeric datatypes you can set the parameter include to 'all'
# Note that for non-numeric datatypes it uses new summaries (unique, top, freq) and does not include those for numerics

df.describe(include='all')

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
count,80332,80332,74535,70662,78400,80332,80332,80317,80332,80332,80332.000000
unique,69586,19900,67,5,29,705,8304,79997,317,23292,NaN
top,7/4/2010 22:00,seattle,ca,us,light,300,5 minutes,Fireball,12/12/2009,47.6063889,NaN
freq,36,525,9655,65114,16565,7070,4716,11,1510,481,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-86.772885
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.697205
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-176.658056
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-112.073333
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-87.903611
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.755000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.441900

In [39]:
# For a more overall look at your different columns, use .info()
# This shows for each column what the datatype is and how many non-nulls there are

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  object
 1   city                             80332 non-null  object
 2   state/province                   74535 non-null  object
 3   country                          70662 non-null  object
 4   UFO_shape                        78400 non-null  object
 5   length_of_encounter_seconds      80332 non-null  object
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  object
 9   latitude                         80332 non-null  object
 10  longitude                        80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [40]:
# To view the column names, you use .columns

df.columns

Index(['Date_time', 'city', 'state/province', 'country', 'UFO_shape',
       'length_of_encounter_seconds', 'described_duration_of_encounter',
       'description', 'date_documented', 'latitude', 'longitude'],
      dtype='object')

You may have noticed that some functions have parenthesis at the end, while others don't. Functions with parenthesis are performing some sort of calculation or procedure, while those that don't are just printing what is already there.

# Viewing Specific Data

So far we have looked at ways of inspecting the whole dataframe, but what if we wanted to look at something more specific?

In [41]:
# To look at a specific column, you can use the syntax df.column_name
# Note this returns a series

df.city

0                  san marcos
1                lackland afb
2        chester (uk/england)
3                        edna
4                     kaneohe
                 ...
80327               nashville
80328                   boise
80329                    napa
80330                  vienna
80331                  edmond
Name: city, Length: 80332, dtype: object

In [42]:
# Alternatively, you can also use the syntax df[column_name]
# This again will return a series, this is the only viable method for column names with whitespace, e.g. df['column name']

df['city']

0                  san marcos
1                lackland afb
2        chester (uk/england)
3                        edna
4                     kaneohe
                 ...
80327               nashville
80328                   boise
80329                    napa
80330                  vienna
80331                  edmond
Name: city, Length: 80332, dtype: object

In [43]:
# If you want to return a column in a new dataframe, then you need to double wrap the square brackets

df[['city']]

                       city
0                san marcos
1              lackland afb
2      chester (uk/england)
3                      edna
4                   kaneohe
...                     ...
80327             nashville
80328                 boise
80329                  napa
80330                vienna
80331                edmond

[80332 rows x 1 columns]

In [44]:
# This method therefore allows you to return more than one column as a dataframe is two-dimensional

df[['city','country']]

                       city country
0                san marcos      us
1              lackland afb     NaN
2      chester (uk/england)      gb
3                      edna      us
4                   kaneohe      us
...                     ...     ...
80327             nashville      us
80328                 boise      us
80329                  napa      us
80330                vienna      us
80331                edmond      us

[80332 rows x 2 columns]

In [45]:
# A very powerful function for returning specific parts of a dataframe is to use .loc
# Think of it like using coordinates (row and column names) to specifically retrieve what you would like
# It can be used to retreive a single value, a column, row or a subset of the dataframe

df.loc[0:10,'city':'country']

                    city state/province country
0             san marcos             tx      us
1           lackland afb             tx     NaN
2   chester (uk/england)            NaN      gb
3                   edna             tx      us
4                kaneohe             hi      us
5                bristol             tn      us
6     penarth (uk/wales)            NaN      gb
7                norwalk             ct      us
8              pell city             al      us
9               live oak             fl      us
10             hawthorne             ca      us

In [46]:
# Another method is to use .iloc, which uses indices instead of names to retrieve specific parts of a dataframe

df.iloc[0:10,1:4]

                   city state/province country
0            san marcos             tx      us
1          lackland afb             tx     NaN
2  chester (uk/england)            NaN      gb
3                  edna             tx      us
4               kaneohe             hi      us
5               bristol             tn      us
6    penarth (uk/wales)            NaN      gb
7               norwalk             ct      us
8             pell city             al      us
9              live oak             fl      us

In [47]:
# To look at the frequency each item appears in a column we can use .value_counts()

df.country.value_counts()

us    65114
ca     3000
gb     1905
au      538
de      105
Name: country, dtype: int64

In [48]:
# Finally, if you would like to see what the unique values are in a column you can use .unique()
# Mostly useful for categorical data

df.country.unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [49]:
# Practice: What city reported the most sightings?

#A:

Click here to view solution<br><br>

<p style=color:white> df.city.value_counts()</p>

# Filtering

Now we know how to look at data within our dataframes, let's see how we can filter them to look at specific strata within the data

In [50]:
# The syntax for filtering data starts the exact same way as selecting a series, except now we add a condition
# This returns for each value a True/False whether that condition has been met

df.country=='us'

0         True
1        False
2        False
3         True
4         True
         ...
80327     True
80328     True
80329     True
80330     True
80331     True
Name: country, Length: 80332, dtype: bool

In [51]:
# To then return a dataframe that returns the rows where this condition is True we use the following syntax

df[df.country=='us'].head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175,-73.408333

You can use any type of condition that you have learned before, including >, <, >=, <=, !=

In [52]:
# If you would like to add more than one condition you need to wrap each in parenthesis
# If you want both conditions to apply you use & between the conditions

df[(df.country=='us')&(df.UFO_shape=='circle')].head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944
36,10/10/1984 05:00,houston,tx,us,circle,60,1 minute,2 experience with unkown,4/18/2012,29.7630556,-95.363056
76,10/10/1998 17:30,las vegas,nv,us,circle,2700,45min.,Ufo sighting in las vegas near Area51,8/30/1999,36.175,-115.136389

In [53]:
# If you want either condition to be applied you place | between conditions

df[(df.country=='us')|(df.country=='ca')].head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175,-73.408333

# Practice

In [75]:
#1. Filter the dataframe to show UFO_shapes that are circle

#A:

In [77]:
df[(df.UFO_shape=='circle')]

,date_time,city,state_province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944
...,...,...,...,...,...,...,...,...,...,...,...
80303,9/9/2012 20:10,elmont,ny,us,circle,600.0,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,9/24/2012,40.700833,-73.713333
80306,9/9/2012 20:52,south jordan,ut,us,circle,10.0,10 seconds,Circular disk with blinking lights scares two ...,9/24/2012,40.562222,-111.928889
80310,9/9/2012 21:00,ventura,ca,us,circle,300.0,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.278333,-119.292222
80328,9/9/2013 22:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500
80330,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556

Click here to view solution<br><br>

<p style=color:white> df[df.UFO_shape=='circle'] </p>

In [55]:
#2. Filter the dataframe to only show UFO sightings from Texas (tx)

#A:

In [80]:
df[(df.state_province=='tx')]

,date_time,city,state_province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
25,10/10/1977 12:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.4238889,-98.493333
32,10/10/1980 19:00,houston,tx,us,sphere,180,3 min,Sphere&#44 No lights&#44 moving through neigh...,4/16/2005,29.7630556,-95.363056
...,...,...,...,...,...,...,...,...,...,...,...
80229,9/9/2008 20:00,el paso,tx,us,light,2700.0,45 min,Bright light seen hovering over the western sk...,10/31/2008,31.758611,-106.486389
80240,9/9/2009 19:32,fort worth,tx,us,circle,600.0,10 mins.,Black round silent object moving slowly to nor...,12/12/2009,32.725278,-97.320556
80268,9/9/2010 21:00,austin,tx,us,light,120.0,2 minutes,Two tiny objects (like dim stars) fly overhea...,11/21/2010,30.266944,-97.742778
80292,9/9/2012 09:14,rancho viejo,tx,us,formation,120.0,2 minutes +,2 objects moving together or maybe one huge ob...,9/24/2012,26.039167,-97.556111
80317,9/9/2013 12:34,cedar park,tx,us,cigar,8.0,5-8 seconds,Cigar Shaped Object Descending in the Directio...,9/9/2013,30.505,-97.820000

Click here to view solution<br><br>

<p style=color:white> df[df['state/province']=='tx'] </p>

In [56]:
#3. Filter the data to show sightings that are either cylindrical or circular

#A:

In [81]:
df[(df.UFO_shape=='cylinder')|(df.UFO_shape=='circle')]

,date_time,city,state_province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667
...,...,...,...,...,...,...,...,...,...,...,...
80303,9/9/2012 20:10,elmont,ny,us,circle,600.0,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,9/24/2012,40.700833,-73.713333
80306,9/9/2012 20:52,south jordan,ut,us,circle,10.0,10 seconds,Circular disk with blinking lights scares two ...,9/24/2012,40.562222,-111.928889
80310,9/9/2012 21:00,ventura,ca,us,circle,300.0,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.278333,-119.292222
80328,9/9/2013 22:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500
80330,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556

Click here to view solution<br><br>

<p style=color:white> df[(df.UFO_shape=='circle')|(df.UFO_shape=='cylinder')] </p>

In [57]:
#4. Filter the data to show sightings from the UK (gb) and last 300 seconds

#A:

In [82]:
df[(df.country=='gb')|(df.length_of_encounter_seconds==300)]

,date_time,city,state_province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
20,10/10/1974 21:30,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.5,-3.200000
24,10/10/1976 22:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333
39,10/10/1985 20:25,leeds (uk/england),NaN,gb,triangle,600,10min,three light in the sky that led to a big black...,3/4/2003,53.8,-1.583333
...,...,...,...,...,...,...,...,...,...,...,...
80278,9/9/2011 20:00,portland,or,us,oval,300.0,5 minutes,9 Objects&#44 oval in shape,10/10/2011,45.523611,-122.675000
80281,9/9/2011 20:50,bradenton,fl,us,sphere,300.0,five minutes,Bright object appears on Northern exposure&#44...,10/10/2011,27.498611,-82.575000
80288,9/9/2012 04:30,la crosse,wi,us,diamond,300.0,5 minutes,Saw two triangle shapes flying and doing odd t...,9/24/2012,43.801389,-91.239444
80300,9/9/2012 20:00,kannapolis,nc,us,fireball,300.0,5 minutes,Fireball traveling in the sky,9/24/2012,35.487222,-80.621944
80310,9/9/2012 21:00,ventura,ca,us,circle,300.0,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.278333,-119.292222

Click here to view solution<br><br>

<p style=color:white> df[(df.country=='gb')&(df.length_of_encounter_seconds==300)] </p>

In [58]:
#5. (Stretch) Filter the data to show sightings that are from outside the United States and are either spherical or light

#A:

In [86]:
df[(df.country!='us')&((df.UFO_shape=='sphere')|(df.UFO_shape=='fireball'))]

,date_time,city,state_province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
55,10/10/1993 03:00,zlatoust (russia),NaN,NaN,sphere,1200,20 minutes,I woke up at night and looked out the window n...,12/14/2004,55.183333,59.650000
61,10/10/1994 23:00,toronto (greater toronto area) (canada),on,ca,sphere,3600,~1 hour,Large rusty sphere,7/3/2013,43.666667,-79.416667
159,10/10/2006 19:00,unsure,ar,NaN,fireball,2,a few seconds,Extreme sound with trails and orange red blue ...,12/7/2006,35.20105,-91.831833
174,10/10/2007 20:24,west palm beach florida,fl,NaN,fireball,180,approx 3 mins,Burning ball across the sky over central/south...,11/28/2007,26.705621,-80.036430
296,10/11/1997 22:00,hafnarfjordur (iceland),NaN,NaN,sphere,300,5 min,playing with a jet,6/12/2008,64.066667,-21.950000
...,...,...,...,...,...,...,...,...,...,...,...
80124,9/9/1999 12:35,shasta/sand flat,ca,NaN,fireball,7.0,7 sec,ASLEEP AGAIN AFTER SEEING DISC 35 MIN PRIVIOUS...,10/2/1999,40.650984,-122.363897
80167,9/9/2003 02:00,caribbean sea,fl,NaN,fireball,180.0,3 minutes,UFO sighted Caribbean Sea&#44 by Disney Magic ...,9/17/2003,26.575128,-80.063918
80168,9/9/2003 02:30,port st. lucie,fl,NaN,fireball,180.0,3 minutes,look like somethig cought on fire while enteri...,9/12/2003,27.273049,-80.358226
80254,9/9/2009 21:15,nottinghamshire (uk/england),NaN,gb,fireball,600.0,10 mins,resembled orange flame imagine a transparent h...,12/12/2009,53.166667,-1.000000
80325,9/9/2013 21:00,milton (canada),on,ca,fireball,180.0,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.3,-63.216667

Click here to view solution<br><br>

<p style=color:white> df[(df.country!='us')&(df.UFO_shape=='sphere')|(df.UFO_shape=='light')] </p>

In [59]:
#6. (Stretch) What is the most common UFO_shape in the United States?

#A:

In [89]:
df[(df.country=='us')].mode()

,date_time,city,state_province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,7/4/2010 22:00,seattle,ca,us,light,300,5 minutes,Fireball,12/12/2009,47.6063889,-122.330833

In [90]:
df[df.country=='us'].UFO_shape.value_counts()

light        13473
triangle      6549
circle        6118
fireball      5148
unknown       4567
other         4466
sphere        4347
disk          4121
oval          3032
formation     1990
cigar         1643
changing      1584
rectangle     1070
flash         1062
cylinder      1027
diamond        928
chevron        815
teardrop       592
egg            581
cone           247
cross          188
delta            6
round            2
pyramid          1
flare            1
hexagon          1
crescent         1
changed          1
Name: UFO_shape, dtype: int64

Click here to view solution<br><br>

<p style=color:white> df[df.country=='us'].UFO_shape.value_counts() </p>

# Sorting

As we have seen before, sorting our data allows us to view it in new ways. This can be useful in particular for sorting dates

In [60]:
# The function for sorting dataframes is .sort_values()
# You will need to specify which column you are sorting on by adding the 'by' parameter

df.sort_values(by='country').head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
69185,8/24/1991 20:00,newcastle (australia),NaN,au,unknown,60.0,1 minute,see pdf download&#44 OR download pdf at www.st...,6/12/2007,-32.927792,151.784485
34950,3/6/2002 02:40,sydney (nsw&#44 australia),NaN,au,light,300,5minutes,blue lights making sounds like beez,5/24/2005,-33.861481,151.205475
7414,1/10/1977 11:00,adelaide (south australia),NaN,au,disk,30,30 seconds,Several people witnessed positive UFO on clea...,10/7/2003,-34.928661,138.598633
76801,9/2/2013 21:30,adelaide (australia),NaN,au,fireball,5.0,5 seconds,Reddish fire ball/falling star doubles back on...,9/9/2013,-34.928661,138.598633
74571,9/15/1972 22:00,tenterfield (australia),NaN,au,teardrop,600.0,10 minutes,Two teardrop shapes facing each other like car...,3/21/2003,-29.049459,152.019516

In [61]:
# By default pandas will sort in ascending order, if we want it the other way we need to set ascending to False

df.sort_values(by='country',ascending=False).head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
52246,6/28/2002 21:00,wisconsin dells,wi,us,egg,120,2 min,A giant egg shape trail moving slowly side to ...,9/13/2002,43.6275,-89.770833
52248,6/28/2002 22:00,berryville,va,us,NaN,10,10 seconds,Bright light glides over my house,7/1/2002,39.1516667,-77.982500
52249,6/28/2003 04:00,albuquerque,nm,us,circle,60,1 minute or so,Photos of UFO in sky above Sandia Peak&#44 NM,10/31/2003,35.0844444,-106.650556
52250,6/28/2003 04:45,mountain view,ca,us,unknown,4,1/4 second or so,I was walking home from a friend&#39s house at...,7/16/2003,37.3861111,-122.082778

In [62]:
# If you want to sort by more than one column, you add them as a list
# Note, the order is important here

df.sort_values(by=['country','UFO_shape']).head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
11242,1/1/2011 11:15,rhodes (sydney) (australia),NaN,au,changing,6,6 seconds,silvery white object &#44 oval like shape open...,1/5/2011,-33.833333,151.083333
15610,1/17/2003 20:45,sydney (nsw&#44 australia),NaN,au,changing,120,2 minutes,UFO changing colour&#44 direction and maybe sh...,3/21/2003,-33.861481,151.205475
17100,12/11/2002 04:00,sydney (nsw&#44 australia),NaN,au,changing,900,15 minutes,Four lights&#44 one approached me&#44 then ret...,12/23/2002,-33.861481,151.205475
23146,12/7/2000 12:45,sydney (nsw&#44 australia),NaN,au,changing,20,20 seconds,it was very big. the craft flew across the sk...,2/24/2001,-33.861481,151.205475
36825,4/15/1983 21:00,brisbane (qld&#44 australia),NaN,au,changing,37800,1 1/2 hours,A brilliant blue-white light performs amazing ...,8/16/2002,-27.47101,153.024292

# Changing the Data

We have looked at several ways of viewing and exploring our data, but what if want to clean it? In this section we will look at a few ways we can change our data.

In [63]:
# First, let's look at adding a new column. 
# To do this you use the syntax df['new_column_name']=
# You could make the new column a single value for all rows
# You could also use a list or series, although it must be the same length as the dataframe itself 

df['Number']=1

df.columns

Index(['Date_time', 'city', 'state/province', 'country', 'UFO_shape',
       'length_of_encounter_seconds', 'described_duration_of_encounter',
       'description', 'date_documented', 'latitude', 'longitude', 'Number'],
      dtype='object')

In [64]:
# To remove a column, you use .drop()
# This function works for removing both rows and columns, and is set to rows by default
# To remove a column you need to specify you are looking at axis 1 (columns)

df.drop('Number',axis=1).head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

Before we move on to other functions we need to discuss a specific property of pandas. When you apply a function to a dataframe you are (with a few exceptions) working on a <b>copy</b>, not the original dataframe itself. This means the outputs you are seeing are only being applied in that one instance. 

For example, in the last piece of code we removed the new column we created, but if you look at the list of columns below, you will see it is still there...

In [65]:
df.columns

Index(['Date_time', 'city', 'state/province', 'country', 'UFO_shape',
       'length_of_encounter_seconds', 'described_duration_of_encounter',
       'description', 'date_documented', 'latitude', 'longitude', 'Number'],
      dtype='object')

The .drop() function only removed the column from the copy, not the original. To apply the function to the original, we need to add the parameter inplace=True.<br><br> Alternatively, you could just redefine the dataframe as this new edit.<br><br> i.e. `df=df.drop('Number',axis=1)`

In [66]:
df.drop('Number',axis=1,inplace=True)

Now if we look at our list of column names, we should see 'Number' is gone

In [67]:
df.columns

Index(['Date_time', 'city', 'state/province', 'country', 'UFO_shape',
       'length_of_encounter_seconds', 'described_duration_of_encounter',
       'description', 'date_documented', 'latitude', 'longitude'],
      dtype='object')

Let's now look at some more useful functions for cleaning/editing our data

In [68]:
# If we wanted to drop rows, we still use .drop() but don't add in axis=1
# We don't want this change to be permenant, so we'll leave out inplace=True

df.drop(0).head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.188889

In [69]:
# There are a couple of methods for renaming columns
# This is a useful data cleaning step to ensure all column names are logical, concise and informative
# The first method is to simply pass a list the same length as the number of columns, with any edits made there

df.columns=['date_time', 'city', 'state_province', 'country', 'UFO_shape',
       'length_of_encounter_seconds', 'described_duration_of_encounter',
       'description', 'date_documented', 'latitude', 'longitude']

df.columns

Index(['date_time', 'city', 'state_province', 'country', 'UFO_shape',
       'length_of_encounter_seconds', 'described_duration_of_encounter',
       'description', 'date_documented', 'latitude', 'longitude'],
      dtype='object')

This is one of the times that doesn't require inplace=True, when you run this code it will affect the original dataframe

In [70]:
# If I only wanted to change specific column names, I can use the .rename() function

df.rename(columns={'UFO_shape':'ufo_shape'}).head()

# We can use this function to rename multiple columns in the dictionary
# However, if we want it to stick we will need to add inplace=True

,date_time,city,state_province,country,ufo_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [71]:
# You may have noticed that when you filter or sort the data the row indices do not reset. 
# The same thing happens if you delete rows, that specific index will be deleted, but everything else stays the same
# This can create issues later if you want to use .iloc, so it is a good idea to reset the index if it has been fractured

df.reset_index().head()

,index,date_time,city,state_province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [72]:
# Notice, this creates a new column called 'index', if you don't want this to be included you instead do:

df.reset_index(drop=True).head()

# Again, this funciton requires inplace=True for it to permenantly apply

,date_time,city,state_province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [73]:
# If we wanted to change a specific value within a dataframe (i.e. a cell), we can use .loc or .iloc

df.iloc[0,1]='San Marcos'

df.iloc[0,1]

# Note, .iloc and .loc are powerful functions that do not require inplace=True
# Any changes made this way are permenant
df.iloc[0,1]='san marcos' #just to change it back...

# Data Cleaning

We have so far looked at ways we can edit our dataframe in terms of tidying it up, but what about ways to clean up what is within the cells?

In [91]:
# Let's first look at changing datatypes, we would expect encounter lengths to be numeric, but the datatype is object
print(df.dtypes)

# If we wanted to change a data type, we can use .astype() to force the change
df.length_of_encounter_seconds.astype('float')

date_time                           object
city                                object
state_province                      object
country                             object
UFO_shape                           object
length_of_encounter_seconds         object
described_duration_of_encounter     object
description                         object
date_documented                     object
latitude                            object
longitude                          float64
dtype: object

ValueError: ignored

But there is a problem, some of the values are corrupted. The error shows us which value is the issue. Before we can change the datatype we will need to remove that value

In [ ]:
# The function for replacing values is called .replace()
# The syntax is to include what you are replacing, and what it now should be
# In this instance because we are trying to remove a pesky `, we also need to add in .str to force the series to be a string

df.length_of_encounter_seconds.str.replace('`','')

In [ ]:
# We then redfine the column so it now has this new series

df['length_of_encounter_seconds']=df.length_of_encounter_seconds.str.replace('`','')

In [ ]:
# Now we can change the datatype

df['length_of_encounter_seconds']=df.length_of_encounter_seconds.astype('float')

df.dtypes

In [ ]:
# Something that can plague our datasets in missing or null values, which pandas calls NaN (Not A Number)
# We saw earlier some funtions which shows us how many nulls there are
# .isna() will specifically tell you if a value is a null or not

df.isna().head()

In [ ]:
# This however returns for each cell if it is a null or not
# If we want to actually count up how many there are we need to aggregate using .sum()
# This function adds up the values in a column (False=0, True=1)

df.isna().sum()

In [ ]:
# But what do we do with nulls? 
# One thing we can do is remove them using .dropna()

print("with nulls")
print(df.shape)
print("without nulls")
print(df.dropna().shape)

# You can see that about 14000 rows have been removed

`.dropna()` is indiscriminate if you leave it as it is, but there are a few parameters that can make it more specific:<br><br>

<ul>
    <li><code>axis</code> is by default set to 0, so it will drop rows with nulls. If you want it to drop columns, set <code>axis=1</code></li>
    <li> It might be that you only want to remove rows/columns that are ALL nulls, so you would set <code>how='all</code></li>
    <li> You may only want to remove rows if the null values are in specific columns, you would then use <code>subset=[column_name]</code></li>
    <li> Again, this function only works on a copy, for it to be permenant you will need to use <code>inplace=True</code></li>
</ul>
<br>

Note, if a particular column is mostly nulls, it is better to drop the columns than use `.dropna()`.

In [ ]:
# Alternatively, instead of dropping nulls, you could replace them. There are three functions for this:
# .fillna() imputes a value you specifiy (useful if the null can be treated as 0)

df.fillna(0).head()

In [ ]:
# .ffill() will replace each null with the last valid (non-null) value above it

df.ffill().head()

In [ ]:
# .bfill() will replace each null with the first valid (non-null) value below it

df.bfill().head()

Whatever method you choose to remove null values is up to you, make sure the decision is reasonable and within the context of the situation you are working.

In [ ]:
# Duplicate values can also cause us problems, to check if any rows are duplicates we can use:

df.duplicated()

In [ ]:
# To get a count of how many rows are duplicates, we add .sum()

df.duplicated().sum()

In [ ]:
# It might be though that you want to check for duplicates within specific columns
# We can use the subset parameter again to define which columns to check

df.duplicated(subset=['country']).sum()

In [ ]:
# If we were to find duplicates, and wanted to remove them, we use the .drop_duplicates() function

df.drop_duplicates()

In [ ]:
# This function by default only removes duplicates if the entire row is duplicated
# It also by default will keep the first instance and drop any subsequent
# Here is an example where we drop any row which contains a country already mentioned

df.drop_duplicates(subset='country')

# (Don't worry, we didn't include inplace=True, the change isn't permenant)

# Grouping Data

We now know some useful data cleaning tips, but what if we wanted to look at a summary of the data? This is where groupby functions come in

In [ ]:
# The syntax for a groupby is to tell it which column to pivot on, and then what aggregate we want
# We can use mean, median, max, min, count, sum and std (standard deviation)

df.groupby('country').count()

In [ ]:
# If we wanted to group by more than one column, we add them as a list

df.groupby(['country','UFO_shape']).count()

In [ ]:
# By default the groupby will return all columns it can 
# (it won't return non-numeric columns if the aggregate requires a calculation )
# If you want specific columns, call them like you saw earlier

df.groupby(['country','UFO_shape']).count()[['city','state_province']]

# Exporting Data

Finally, how do you save your work?

In [ ]:
# Pandas has a function for exporting your data, which is useful if you want to load it into something else like Power BI
# It will save the file in the folder you opened the Jupyter notebook, unless you specify a file path
# DO NOT NAME YOUR CSV FILE AS THE ONE YOU IMPORTED
# This will overwrite your original data, which you should be keeping as a backup

df.to_csv('ufo_sightings.csv',index=False)

# Top tip, include index=False with this command.
# Otherwise, pandas will save the index as a new column

That ends this notebook, in the next one you will be given an opportunity to clean a dataset using the skills you learned here.